<!DOCTYPE html>
<html>
  <head>
    <title>Rin Movie</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
      		<a class="navbar-brand" href="/">
        	<img style="max-width:35px; margin-top: -7px;" alt="Brand" src="https://cdn0.iconfinder.com/data/icons/flowers-4/154/rose-flower-512.png">
      		</a>
    	</div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	  		<li><a href="/search">Search</a></li>
	  		<% if (user != null) { %>
	  			<li><a href="/profile">My Profile</a></li>
	  		<% } %>
	      </ul>
	      <!-- search bar -->
	      
	      <ul class="nav navbar-nav navbar-right">
	      	<% if (user == null) { %>
		      	<form class="navbar-form navbar-left" role="sign-in" action="/login" method="post">
					<div class="form-group" >
						<label class="sr-only" for="exampleInputEmail3">Email address</label>
						<input pattern=".{5,}" required title="Email address incomplete." type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name = "email">
					</div>
					  	<div class="form-group" name="password">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <input pattern=".{1,}" required title="Password too short." type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name = "password">
					</div>
					<!--div class="checkbox" name="check">
					    <label>
					      <input type="checkbox"> Remember me
					    </label>
					</div-->
		        	<button type="submit" class="btn btn-link">Sign In</button>
		      	</form>
		        <li><a href="/signup">Sign Up</a></li>
		        <li><a href="/auth/facebook">Login with Facebook!</a></li>
		    <% } else { %>
		    	<% var name = user.local.username %>
                <% if (name == undefined) name = user.facebook.name %>
		    	<li class="dropdown">
	          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= name %><span class="caret"></span></a>
	          		<ul class="dropdown-menu">
			            <li><a href="/profile">My Profile</a></li>
			            <li><a href="/account">My Account</a></li>
	            		<li role="separator" class="divider"></li>
	            		<li><a href="/logout">Log Out</a></li>
	            	</ul>
            	</li>
		    <% } %>	

	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="heading">
		<h1>Welcome to Rin Movie-Lover Network!</h1>
	</div>
    <div class="col-sm-offset-1">
	<% if (results != null) { %>
		<% var headers = ["Recent Movie: ", "Coming Soon: ", "Top Rated: "]; %>
		<% for(var i=0; i<results.length; i++) { %>
		<div class = "col-md-12">
       		<h4><%= headers[i] %></h4>
       	</div>
       		<% var row_num = results[i].length / 5; %>
       		<% for(var r=0; r<row_num; r++) { %>
       		<div class="row">
	       		<% for(var j=r * 5; j<(r+1) * 5 && j < results[i].length; j++) { %>
		       	<div class="col-md-2">
		       		<img src="<%= results[i][j].poster %>" width="100%" height="100%">
					<a href="/movie/<%=results[i][j].id%>" onclick="" class="" height = "20%"><%= results[i][j].name %></a>
					<% var date = results[i][j].releaseDate %>
					<% if (date != null) { %>
						<p><%= date.getFullYear() + '-' + (date.getMonth() + 1) + "-" + 
						date.getDate()%></p>
					<%}%>
		       	</div>
		       	<% } %>
		    </div>
		    <% } %>
       	<% } %>
   	<% } %> 

    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </body>
</html>