<!DOCTYPE html>
<html>
  <head>
    <title>Rin Movie</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
            <img style="max-width:35px; margin-top: -7px;" alt="Brand" src="https://cdn0.iconfinder.com/data/icons/flowers-4/154/rose-flower-512.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <% if (user != null) { %>
                <li><a href="/profile/<%=user.id%>">My Profile</a></li>
            <% } %>
          </ul>
          <!-- search bar -->
          
          <ul class="nav navbar-nav navbar-right">
            <% if (user == null) { %>
                <form class="navbar-form navbar-left" role="sign-in" action="/login" method="post">
                    <div class="form-group" >
                        <label class="sr-only" for="exampleInputEmail3">Email address</label>
                        <input pattern=".{5,}" required title="Email address incomplete." type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name = "email">
                    </div>
                        <div class="form-group" name="password">
                        <label class="sr-only" for="exampleInputPassword3">Password</label>
                        <input pattern=".{1,}" required title="Password too short." type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name = "password">
                    </div>
                    <!--div class="checkbox" name="check">
                        <label>
                          <input type="checkbox"> Remember me
                        </label>
                    </div-->
                    <button type="submit" class="btn btn-link">Sign In</button>
                </form>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/auth/facebook">Login with Facebook!</a></li>
            <% } else { %>
                <% var name = user.local.username %>
                <% if (name == undefined) name = user.facebook.name %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= name %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/<%=user.id%>">My Profile</a></li>
                        <li><a href="/account">My Account</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </li>
            <% } %> 

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--movie section-->
    <div class='col-md-7 col-sm-offset-1'>
        <hr>
    <%if (movie != null) {%>
        <div class="row">
            <div class="col-md-4">
                <img src= "<%= movie.poster%>" width = "100%" height="100%"/>
            </div>
            <div class="col-md-8">
                <h3><%= movie.name %> (<%= movie.releaseDate.substring(0,4) %>)</h3>
                <p>Director: <a href="/person/<%=movie.director.id%>" onclick="" class=""><%= movie.director.name %></a></p>
                <p>Actors: 
                    <a href="/person/<%=movie.actors[0].id%>" onclick="" class=""><%= movie.actors[0].name %></a>
                    <% for (var i = 1; i < movie.actors.length; i++) {%>
                     / 
                    <a href="/person/<%=movie.actors[i].id%>" onclick="" class=""><%= movie.actors[i].name %></a>
                    <% } %>
                </p>
                <p>Release Date: <%= movie.releaseDate %></p>
                <p>Duration: <%= movie.duration %> min</p>
                <p>Genres: <%= movie.genre %></p>
                <p>Rating: <%= movie.rating %> by <%=movie.raters %> users</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class='col-md-11 col-sm-offset-1'>
                <h4>Overview: </h4>
                <p><%= movie.overview %></p>
            </div>
        </div>
        <hr>
        <% if (user != null) {%>
        <div class="row">
            <div class='col-md-11 col-sm-offset-1'>
                <h4>Mark as: </h4>
                <% if (movie.my_mark.length == 0) { %>
                <form method="post" action="/movie/<%=movie.id%>/addMarks">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="status" id="status1" value="status1"> I have watched this movie
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" id="status2" value="status2"> I want to watch this movie    
                        </label>
                        <button type="submit" class="btn btn-danger btn-sm col-sm-offset-1">Confirm</button>
                    </div>
                </form>
                <%} else {%>
                    <% if (movie.my_mark[0].status == 0) {
                        var status = 'I have watched this movie';
                       } else {var status = 'I want to watch this movie';}%>
                    <p>Marked as: <%= status %>.</p>
                <%}%>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class='col-md-11 col-sm-offset-1'>
                <h4>My Rating: </h4>
                <% if (movie.my_rating.length == 0) { %>
                <form action='/movie/<%=movie.id%>/addRating/' method='post'>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="rating" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rating" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rating" id="inlineRadio3" value="option3"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rating" id="inlineRadio4" value="option4"> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rating" id="inlineRadio5" value="option5"> 5
                        </label>
                    </div>
                    <p></P>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Comments" name="comment"></textarea>
                    </div>
                    <p></P>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                    </form>
                <%} else {%>
                    <% if (movie.my_rating[0].star != null) { %>
                    <p><label class="control-label col-sm-2">Rated: </label><%= movie.my_rating[0].star%> / 10</p>
                    <%}%>
                    <% if (movie.my_rating[0].comment != null) { %>
                    <p><label class="control-label col-sm-2">Comment: </label><%= movie.my_rating[0].comment%></p>
                    <%}%>
                <%}%>
            </div>
        </div>
        <hr>
        <%}%>
        <div class="row">
            <div class='col-md-10 col-sm-offset-1'>
                <h4>Comments: </h4>
                <%for (var i = 0; i < movie.comments.length; i++) {%>
                <hr>
                <div class="row">
                    <div class = "col-md-2 col-sm-offset-1">
                        <p><%= movie.comments[i].name%></p>
                    </div>
                    <div class = "col-md-4">
                        <p>Rated: <%=movie.comments[i].star%></p>
                    </div>
                    <div class = "col-md-4">
                        <p><%=movie.comments[i].timeCreated%></p>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-md-10 col-sm-offset-1">
                        <p><%=movie.comments[i].comments%></p>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-md-3 col-sm-offset-6">
                        <p><%=movie.comments[i].agrees%> people agreed</p>
                    </div>
                    <%if (user && !movie.comments[i].agreed) {%>
                        <div class = "col-md-2">
                            <a href="/agree" class="btn btn-link">agree</a>
                        </div>
                    <%} else if (user){%>
                        <div class = "col-md-2">
                            <a href="/undo" class="btn btn-link">undo agree</a>
                        </div>
                    <%}%>
                </div>
                <%}%>
            </div>
        </div>
    <%}%>
        <div class="row"><h1></h1></div>
        <div class="row"><h1></h1></div>
    </div>
    <!--bing search section-->
    <div class='col-md-4'>

    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  </body>
</html>